MaxCompute/.idea/.gitignore                                                                                         mockMaxCompute/.idea/misc.xml                                                                                           mockMaxCompute/.idea/modules.xml                                                                                        mockMaxCompute/.idea/uiDesigner.xml                                                                                     mockMaxCompute/.idea/vcs.xml                                                                                            mockMaxCompute/insert.tbl                                                                                               mockMaxCompute/target/                                                                                                  mockMaxCompute/tpch-stream.sql                                                                                          mockMaxCompute/update.tbl.u1  
